<!-- A INTEGRER DANS LA BALISE <HEAD> DE THEME.LIQUID -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- FIN -->



<!-- A INTEGRER AU DESSUS DE LA BALISE </BODY> EN BAS DE THEME.LIQUID -->

  <script>
    $(document).ready(function () {
        var url_string = (window.location.href);
        var url = new URL(url_string);
        var code = url.searchParams.get("code");
        $( ".mycode" ).append(code);
    });
  </script>

<!-- FIN -->





<!-- A AJOUTER DANS LE FICHIER SECTION DE TON CHOIX TOUT EN HAUT -->

{% style %}

.oklm {
	color: white;
    font-size: 22px;
    background: red;
    padding: 8px;
    border-radius: 3px;
}

{% endstyle %}

<!-- FIN -->



<!-- A AJOUTER DANS LE MEME FICHIER SECTION A L'ENDROIT OU TU VEUX VOIR APARAITRE LE TEXTE -->

          	<span class="oklm">Utilise le code : <span class="mycode"></span> pour obtenir ta réduction</span>

<!-- FIN -->


